        <ul id="mainnav">
            <li>
                <a href="/cs/">
                <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
                <span> cs </span>
            </a>
            </li>
            <li>
            <a href="/firo/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> firo </span>
            </a>
            </li>
            <li>
            <a href="/history/">
                <span class="icon"> <i aria-hidden="true" class="icon-leaf"></i></span>
                <span> history </span>
            </a>
            </li>
            <li>
            <a href="/about">
                <span class="icon"> <i aria-hidden="true" class="icon-heart"></i></span>
                <span> About </span>
            </a>
            </li>
            <li>
                <a href="/howto/">
                <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
                <span> howto </span>
            </a>
            </li>
            <li>
            <a href="/kernel/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> kernel </span>
            </a>
            </li>
            <li>
            <a href="/net/">
                <span class="icon"> <i aria-hidden="true" class="icon-leaf"></i></span>
                <span> net </span>
            </a>
            </li>
            <li>
            <a href="/philosophy/">
                <span class="icon"> <i aria-hidden="true" class="icon-heart"></i></span>
                <span> philosophy </span>
            </a>
            </li>
            <li>
            <a href="/review/">
                <span class="icon"> <i aria-hidden="true" class="icon-heart"></i></span>
                <span> review</span>
            </a>
            </li>
        </ul>
